name: Deploy application and releases on Pages
on:
  push:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Create artifact directory
        run: mkdir -p ./site

      - name: Build npm project
        run: |
          npm install
          npm run build
          touch ./dist/.nojekyll

      - name: Copy HTML pages
        run: cp -r ./dist/* ./site && cp ./dist/.nojekyll ./site/
        
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./site

      - name: Upload site artifact
        uses: actions/upload-artifact@v4
        with:
          name: site
          path: ./site

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4